<!DOCTYPE html>
<html>
  <head>
    <title>Local aid</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
